body{
    font-family: "Nunito", sans-serif;
    margin: 0;
}

header{
    background-color: #007bb5;
    padding: 1rem 10px;
}

header span{
    font-weight: 675;
    font-size: 1.4rem;
    color: #0009b5;
}

nav {
    background-color: #6d00b5;
}

nav ul{
    margin: 0;
    list-style-type: none;
    display: flex;
    padding: 2px 10px;
}

nav a{
    text-decoration: none;
    display: block;
    color: #007bb5;
    padding-left: 1.5rem;
    font-size: 2rem;
    font-weight: 650;
}

nav a:hover{
    color: #0009b5;
}

nav li.active a{
    color: #0009b5;
}

/* main */

main{
    padding: 0 10px;
}

main h1{
    color: #3200b5;
}

main h2{
    color: #0042b5;
}

main ul{
    list-style-type: circle;
}

main p{
    margin: 0;
    color: #120024;
}

main a{
    text-decoration: none;
    color: #0042b5;
}

main a:hover{
    color: #3200b5;
}

main li{
    color: #120024;
}

main ol li{
    padding-bottom: 5px;
}

main dl{
    padding-left: .8rem;
}

main dl dt{
    font-size: 1.1rem;
    color: #007bb5;
}

main dl dd{
    padding-bottom: 8px;
    color: #120024;
    font-size: .93rem;
}

main address{
    background-color: #007bb5;
    border-radius: 5px;
    border-style: dotted;
    border-color: #6d00b5;
    margin-bottom: .6rem;
}

main address a{
    color: #3200b5;
}

main address a:hover{
    color: #6d00b5;
}

footer{
    background-color: #0009b5;
    padding: .5rem 0;
}

footer p{
    text-align: center;
    color: #007bb5;
    letter-spacing: 1px;
    font-weight: 700;
}